.container-content {
  width: 100%;
  background-color: #fff;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-content h2 {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 40px;
  color: #151f63;
}

.content {
  width: 90%;
  background-color: #151f63;
  margin: auto;
  height: auto;
  font-weight: 300;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.item {
  width: 90%;
  margin-top: 30px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #fff;
  color: #fff;
}