body {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: "Fraunces", serif;
}

a {
  color: black;
  text-decoration: none;
  transition: 1s;
}

header {
  display: flex;
  justify-content: space-between;
}

.container {
  margin: auto;
  width: 90%;
}

.header-tittle {
  width: 50%;
  margin-left: 30px;
  color: #151f63;
}
header nav {
  width: 50%;
  margin: 0;
}
header nav ul {
  display: flex;
  width: 90%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
}
header nav ul li {
  list-style: none;
  margin-right: 20px;
}

header nav ul li a {
  font-weight: 300;
}

.btn-menu, .btn-close {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #151f63;
  display: none;
  z-index: 10;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.info h2 {
  font-size: 45px;
  font-weight: 300;
  color: #151f63;
}

.info p {
  font-size: 20px;
  font-weight: 300;
}

.info a {
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(21, 31, 99);
  width: 200px;
  color: #fff;
  font-weight: 100;
  border: solid 1px #151f63;
}

.slider {
  width: 100%;
  height: 700px;
  display: flex;
  margin-top: 30px;
  /* background-color: #e8e3f8; */
  justify-content: center;
}

.slider img {
  object-fit: cover;
}

.why-me {
  margin-top: 60px;
  display: flex;

}

.why-me-text {
  width: 50%;
  height: 100%;
  background-color: #e8e3f8;
}
.why-me-text h2 {
  font-size: 50px;
  font-weight: 300;
  margin: auto;
  text-align: center;
  color: #151f63;
  margin-bottom: 40px;
  margin-top: 25px;
}
.why-me-text p {
  width: 80%;
  font-size: 18px;
  margin: auto;
  margin-bottom: 35px;
  line-height: 35px;
  font-weight: 300;
}
.why-me-text a {
  display: inline-block;
  margin: 0 60px 0 60px;
  width: 80px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  background-color: rgb(21, 31, 99);
  width: 200px;
  color: #fff;
  font-weight: 100;
  border: solid 1px #151f63;
  margin-bottom: 20px;
}
.why-me-background {
  background-image: url(./img/img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

.reasons {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  max-width: 100%;
  height: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.h2-reasons{
  font-weight: 300;
  font-size: 50px;
  color:#151f63;
  text-align: center;
}

.reason {

  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 80px;
}
.reason i {
  color: #151f63;
  font-size: 30px;
}

.reason h3{
  font-weight: 300;
  color: #151f63;
}
.reason p {
  font-weight: 300;
}
.my-students {
  display: flex;
  height: auto;
}
.my-students-img {
  width: 50%;
  
}
.my-students-text {
  width: 50%;
  height: 100%;
  background-color: #e8e3f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my-students-text p {
  width: 80%;
  font-weight: 300;
  line-height: 35px;
}

.my-students-text h2 {
  color: #151f63;
  font-size: 50px;
  font-weight: 300;
  width: 80%;
  margin-top: 80px;
}
.my-students-text hr {
  width: 80%;
}
.my-students-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.what-do a:hover,
.why-me a:hover,
.info a:hover {
  background-color: #fff;
  color: #151f63;
}

footer {
  height: 50vh;
  width: 100%;
  background-color: #151f63;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.menu {
  width: 25%;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.menu a {
  display: block;
  color: #fff;
}

.contact {
  width: 25%;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.contact p {
  margin: 0%;
  width: 60%;
  height: 100%;
}

.follow {
  width: 25%;
  height: 200px;
}

.follow a {
  color: #fff;
  font-size: 25px;
  margin-right: 10px;
}

@media screen and (max-width:770px) {
  .why-me {
    flex-direction: column-reverse;
  }
  .why-me-text {
    width: 100%;
  }
  .why-me-background {
    width: 100%;
    height: 600px;
  }
  .reasons {
    grid-template-columns: repeat(1,1fr);
  }
  .my-students {
    flex-direction: column;
  }
  .my-students-text {
    width: 100%;
  }
  .my-students-img {
    width: 100%;
  }
  footer {
    justify-content: space-between;
  }
  .menu {
   margin-left: 20px;
  }
  .follow {
  text-align: center;
  }
} 

@media screen and (max-width:400px) {
  .container {
    width: 100%;
  }
   .principal-menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #e8e3f8;
    z-index: 10;
    justify-content: center;
    opacity: 0;
    top: -100vh;
    transition: 1s;
    
  }
  header nav ul {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 25px;
    
  }
  footer {
    flex-direction: column;
    height: 100vh;
  }
  .contact, .follow, .menu {
    width: 100%;
    text-align: center;
  }
  .contact p {
    width: 100%;
  }
  .menu {
    margin-left: 0;
  }
  .h2-reasons {
    width: 80%;
    text-align: center;
    margin-left: 40px;
    font-size: 40px;
  }
  .btn-menu {
    display: block;
    z-index: 1;
  }
  .show {
    display: block;
    transition: 1s;
  }
  .show-menu {
    opacity: 1;
    top: 0;
  }
  .info h2 {
    width: 80%;
    font-size: 40px;
  }
  .why-me-text h2 {
    width: 80%;
    font-size: 40px;
  }
  .my-students-text h2 {
    font-size: 40px;
  }
}